tests/MasterRecipe.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Studio (https://www.liquid-technologies.com) -->
<xs:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:Rockwell/MasterRecipe" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="RecipeElement">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RecipeElementID" type="xs:string" />
        <xs:element minOccurs="0" name="Header">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="Abstract" />
              <xs:element minOccurs="0" name="ApprovedBy" type="xs:string" />
              <xs:element minOccurs="0" name="AreaModel" type="xs:string" />
              <xs:element minOccurs="0" name="AreaModelDate" type="xs:dateTime" />
              <xs:element minOccurs="0" name="Author" type="xs:string" />
              <xs:element minOccurs="0" name="BeingEditedBy" type="xs:string" />
              <xs:element minOccurs="0" name="ClassBased" type="xs:boolean" />
              <xs:element minOccurs="0" name="DBSchema" type="xs:unsignedShort" />
              <xs:element minOccurs="0" name="DefaultSize" type="xs:decimal" />
              <xs:element minOccurs="0" name="Description" type="xs:string" />
              <xs:element minOccurs="0" name="Duration" type="xs:unsignedByte" />
              <xs:element minOccurs="0" name="LocaleID" type="xs:byte" />
              <xs:element minOccurs="0" name="MaxSize" type="xs:decimal" />
              <xs:element minOccurs="0" name="MinSize" type="xs:decimal" />
              <xs:element minOccurs="0" name="ProductCode" type="xs:string" />
              <xs:element minOccurs="0" name="ProductID" type="xs:string" />
              <xs:element minOccurs="0" name="ProductUnits" type="xs:string" />
              <xs:element minOccurs="0" name="RecipeType" type="xs:string" />
              <xs:element minOccurs="0" name="Released" type="xs:unsignedByte" />
              <xs:element minOccurs="0" name="ReleaseAsStep" type="xs:boolean" />
              <xs:element minOccurs="0" name="Resource" />
              <xs:element minOccurs="0" name="VerificationDate" type="xs:dateTime" />
              <xs:element minOccurs="0" name="Version" type="xs:decimal" />
              <xs:element minOccurs="0" name="VersionDate" type="xs:dateTime" />
              <xs:element minOccurs="0" name="Obsoleted" type="xs:boolean" />
              <xs:element minOccurs="0" name="NextWIPNumber" type="xs:unsignedByte" />
              <xs:element minOccurs="0" name="VersionDescription" />
              <xs:element minOccurs="0" name="ParentName" />
              <xs:element minOccurs="0" name="ParentVersionDescription" />
              <xs:element minOccurs="0" name="ParentVersionDate" type="xs:dateTime" />
              <xs:element minOccurs="0" name="ParentVerificationDate" type="xs:dateTime" />
              <xs:element minOccurs="0" name="ParentAreaModelDate" type="xs:dateTime" />
              <xs:element minOccurs="0" name="ParentAreaModelName" />
              <xs:element minOccurs="0" name="SecurityAuthorityIdentifier" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="Parameter">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="Name" type="xs:string" />
              <xs:element minOccurs="0" name="ERPAlias" />
              <xs:element minOccurs="0" name="PLCReference" type="xs:unsignedByte" />
              <xs:element minOccurs="0" name="Real" type="xs:unsignedShort" />
              <xs:element minOccurs="0" name="High" type="xs:unsignedShort" />
              <xs:element minOccurs="0" name="Low" type="xs:unsignedByte" />
              <xs:element minOccurs="0" name="EngineeringUnits" type="xs:string" />
              <xs:element minOccurs="0" name="Scale" type="xs:boolean" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="Steps">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="InitialStep">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="Name" type="xs:string" />
                  </xs:sequence>
                  <xs:attribute name="XPos" type="xs:unsignedShort" use="optional" />
                  <xs:attribute name="YPos" type="xs:unsignedByte" use="optional" />
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="TerminalStep">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="Name" type="xs:string" />
                  </xs:sequence>
                  <xs:attribute name="XPos" type="xs:unsignedShort" use="optional" />
                  <xs:attribute name="YPos" type="xs:unsignedShort" use="optional" />
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="Step">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="Name" type="xs:string" />
                    <xs:element minOccurs="0" name="StepRecipeID" type="xs:string" />
                    <xs:element minOccurs="0" name="PackedFlags" type="xs:unsignedByte" />
                    <xs:element minOccurs="0" name="UnitAlias" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="FormulaValue">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" name="Name" type="xs:string" />
                          <xs:element minOccurs="0" name="Display" type="xs:boolean" />
                          <xs:element minOccurs="0" name="Value" />
                          <xs:element minOccurs="0" name="String" type="xs:string" />
                          <xs:element minOccurs="0" name="Defer" type="xs:string" />
                          <xs:element minOccurs="0" name="Real" type="xs:decimal" />
                          <xs:element minOccurs="0" name="EngineeringUnits" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="XPos" type="xs:unsignedShort" use="optional" />
                  <xs:attribute name="YPos" type="xs:unsignedShort" use="optional" />
                  <xs:attribute name="AcquireUnit" type="xs:boolean" use="optional" />
                  <xs:attribute name="SystemStep" type="xs:boolean" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="PhaseLinkGroup">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="Name" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="unbounded" name="PhaseLink">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="UnitProcedureStepName" type="xs:string" />
                    <xs:element minOccurs="0" name="OperationStepName" type="xs:string" />
                    <xs:element minOccurs="0" name="PhaseStepName" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="Transition">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="Name" type="xs:string" />
              <xs:element minOccurs="0" name="ConditionalExpression" type="xs:string" />
            </xs:sequence>
            <xs:attribute name="XPos" type="xs:unsignedShort" use="optional" />
            <xs:attribute name="YPos" type="xs:unsignedShort" use="optional" />
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="ElementLink">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="FromStep" type="xs:string" />
              <xs:element minOccurs="0" name="ToTransition" type="xs:string" />
              <xs:element minOccurs="0" name="FromTransition" type="xs:string" />
              <xs:element minOccurs="0" name="ToStep" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="UnitRequirement">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="UnitAlias" type="xs:string" />
              <xs:element minOccurs="0" name="ClassInstance" type="xs:string" />
              <xs:element minOccurs="0" name="BindingMethod" type="xs:string" />
              <xs:element minOccurs="0" name="MaterialBindingMethod" type="xs:string" />
              <xs:element minOccurs="0" name="ClassBased" type="xs:boolean" />
              <xs:element minOccurs="0" name="DownstreamResource">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="Name" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="Comments" />
        <xs:element minOccurs="0" name="Formulations">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="Formulation">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="Name" type="xs:string" />
                    <xs:element minOccurs="0" name="Description" type="xs:string" />
                    <xs:element minOccurs="0" name="ParameterList">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" maxOccurs="unbounded" name="Parameter">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element minOccurs="0" name="Name" type="xs:string" />
                                <xs:element minOccurs="0" name="Real" type="xs:unsignedShort" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="SchemaVersion" type="xs:unsignedShort" use="optional" />
    </xs:complexType>
  </xs:element>
</xs:schema>